* {
    font-family: "Lato", sans-serif;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.equipeVerde, .equipeLaranja {
    height: 100vh;
    width: 50%;
    display: flex;
    flex-direction: column;
    border-left: solid 3px white;

    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.equipeVerde { 
    background-color: #318f9a;

}

.equipeLaranja {
    background-color: #ff8811;
}

.areaAcao, .mostrador {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.areaAcao {
    margin: 0;
    align-items: baseline;
}

.mostrador {
    width: 80%;
}

h2, h3 {
    color: white;
    margin: 0;
}

h2 {
    font-weight: 900;
    font-size: 200px;
}

h3 {
    position: fixed;
    top: 25px;
    
}

.botoes {
    width: 100%;
    height: 15%;
    background-color: #ffffff79;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.btn {
    color: white;
    border: solid 4px white;
    margin: 5px;
    height: 100%;
    width: 50%;
    font-size: 30px;
    font-weight: 700;
}

.mais {
    background-color: #ffffff;
    border-radius: 25%;
}

.menosVerde, .menosLaranja {
    border-radius: 50%;
}

.menosVerde {
    background-color: #318f9a;
}

.menosLaranja {
    background-color: #ff8811;
}

.btverde {
    color: #318f9a;
}

.btlaranja {
    color: #ff8811;
}

.botaoAcaoVerde, .botaoAcaoLaranja {
    border: none;
    width: 100%;
    height: 75%;
    padding: 0;
}

.botaoAcaoVerde {
    border-radius: 0 500px 500px 0;
}

.botaoAcaoLaranja {
    border-radius: 500px 0 0 500px;
}

.telaAcao {
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: row;
}

.telaBotoes {
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
}